**/*.bak
**/*.csv

**/programmers/
**/signal/
**/throttle/
**/autoBackups/
**/buildstatus/
**/csvManifests/
**/csvSwitchLists/
**/jsonManifests/
**/manifests/
**/patternReports/
**/switchLists/
**/logger/
**/bu/
